#!/bin/bash

. /cvmfs/hades.gsi.de/install/5.34.34/hydra2-4.9m/defall.sh
. /cvmfs/hades.gsi.de/install/root-5.34.01/bin/thisroot.sh 

export HADDIR=/u/rlalik/hydra/install/hydra2-fwdet
export CERN_ROOT=/cvmfs/hades.gsi.de/install/cernlib_gfortran/2005/
export HGEANT_DIR=/u/rlalik/hydra/install/hgeant2-fwdet/

export LC_ALL=C
export ROOTLOGON=$HADDIR/macros/rootlogon.C

export MYHADDIR=/lustre/nyx/hades/user/${USER}/hades/pp35/install
